#!/usr/bin/env bash
set -e

cd "/tmp/nginx/{{ pcre_version }}" &&

sudo ./configure &&
sudo make &&
sudo checkinstall -y \
    --maintainer {{ ansible_user_id }} \
    --pkgname pcre \
    --pkgrelease {{ pcre_version }} \
    --pkgversion {{ pcre_version }}
