#!/bin/bash -e

cd "/tmp/nginx/{{ nginx_version }}" &&

./configure  \
  {% for line in nginx_dynamic_module_2 %}
  --add-dynamic-module=../{{ line.address | last }}/{{ line.conf_loc }} \
  {% endfor %}
  --with-compat

&&

make modules &&

{% for line in nginx_dynamic_module_2 %}
sudo cp ./objs/{{ line.name }}.so /etc/nginx/modules-available/
{% endfor %}
